body {
    width:100%;
    margin: auto;
    background-image: url(assets/images/gravel.png);
}

.container {
    width: 960px;
    margin: 0 auto;
}

.header {
    background-color: #ffffff;
    width: 100%;
    height:100px;
    top: 0;
    position: fixed;
    border-bottom-style: solid;
    border-color: #cccccc;
    border-width: 2px;
}

.name {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 11px;
    text-align: center;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background: #4aaaa5;
}

a {
    text-decoration: none;
}

.nav {
    float: right;
}

.article {
    margin-top: 120px;
    padding-left: 10px;
    background-color: #ffffff;
    padding:20px;
    width: 920px;
    padding-bottom: 20px;
    color: #777777;
    border-style:solid;
    border-width:2px;
    border-color: #cccccc;
}

h2 {
    margin-left: 10px;
    margin-top: 5px;
    color: #4aaaa5;
}
li {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 11px;
    list-style: none;
    float: left;
    margin-left: 10px;
    padding: 10px;
    color: #777777;
}

.img {
    margin-left: 10px;
    margin-right: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-row-gap: 25px;
}

.catimg {
    float: left;
    margin-left: 10px;
    margin-right: 30px;
}

h1 {
    margin-left: 10px;
}

h4 {
    margin-left: 10px;
}

.footer1 {
    background: #666666;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    height: 100px;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #4aaaa5;
    padding-bottom: 0px;
    margin-top: 260px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer2 {
    background: #666666;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    height: 100px;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #4aaaa5;
    padding-bottom: 0px;
    margin-top: 10px;
}

.nameform {
    width: 97%;
    margin-left: 10px;
    border-color: grey;
    border-width: 1px;
}

.emailform {
    width: 97%;
    margin-left: 10px;
    border-color: grey;
    border-width: 1px;
}

.messageform {
    width: 97%;
    margin-left: 10px;
    height: 150px;
    resize: none;
    border-color: grey;
    border-width: 1px;
}

.submitbtn {
    margin-left: 10px;
}

.prtspace {
    height: 100px;
}